
/*@import "icomoon-style.css";*/
.wrapper-outer {
    height: 100%;
}

body.static.w-refresh .wrapper-inner{
    height:100%!important;
    background:#e8e8e8!important;
    padding: 0!important;
}

#team {
    font-family: "Avenir Next",Avenir,"Open Sans",Helvetica,Arial,sans-serif;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    font-weight: 100;
    color: white;
    font-size: 34px;
}
#team h3 {
    font-weight: 100;
    font-size: 44px;
}
#team hr {
    margin: 50px 35%;
}
#team li {
    margin: 7px 0;
}

#team img {
    vertical-align: sub;
}
#team .name {
    color: yellow;
}

.gradient-overlay{
    width: 94.5%;
    height: 30px;
    background: linear-gradient(rgb(140,140,140),rgb(30,30,30));
    position: absolute;
    left: 2.5%;
}

.matrix-body td{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#ball.ball{
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;
    margin: 0px;
    top: 947px;
    left: 1278.19549005682px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    background: radial-gradient(circle at 0px 0px, rgb(220, 220, 220), rgb(80, 80, 80));
    transform: translateZ(0);
}

#ball.ball.fast {
    background: radial-gradient(circle at 0px 0px, rgb(245, 123, 123), rgb(102, 7, 7));
}

#level-head-div{
    display: none;
    top: 0px;
    bottom: 0%;
    width: 100%;
    height: auto;
    position: absolute;
    background: rgba(10,10,10,.7);
    text-align: center;
    z-index: 1000001;
    padding-top: 20%;
}

#team {
    font-family: "Avenir Next",Avenir,"Open Sans",Helvetica,Arial,sans-serif;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    font-weight: 100;
    color: white;
    font-size: 44px;
}

#level-heading{
    font-family: "Avenir Next",Avenir,"Open Sans",Helvetica,Arial,sans-serif;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    font-weight: 100;
    color: white;
    font-size: 44px;
}

.breakout-level{
    text-align: right;
    float: right;
}

.breakout-score{
    text-align: right;
    float: right;
    padding-right: 2em;
}

#overlay{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    background: none;
    width:100%;
    z-index: 1000000;
    height:100%;
    position:fixed;
    top: 0%;
    left:0%;
    visibility: visible;
    text-indent: -9999px;
}

.breakout-score, .breakout-level{
    font-size: 34px;
    margin-top: 10px;
    font-weight: 100;
    padding-left: 20px;
}

.w-header__inner.container{
    padding-bottom: 10px;
}

.actionIcons{
    display: none;
}

.fa-heart, .fa-heart-o{
    font-size: 24px!important;
}
.fa-heart{
    color:rgb(229, 55, 33);
}
.fa-heart-o{
    color:#b0b0b0;
}




/*  BONUSES
    'M': this.multiBall,
    'S': this.stickyBall,
    'T': this.thinPaddle,
    'F': this.fatPaddle,
    'L': this.lazers
*/
.bullet{
    width: 5px;
    height: 15px;
    border-radius-top-left: 5px;
    border-radius-top-right: 5px;
    position: absolute;
    background:rgb(0, 216, 255); /*CYAN*/
    color:rgb(0, 216, 255);
    transform: translateZ(0);
}
.breakout-bonus{
    width: 55px;
    text-align: center;
    padding: 4px;
    height: auto;
    border-radius: 20px;
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    display: inline-block;
    font: normal normal normal 12px/1 'Open Sans Condensed';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #444;
    font-weight: 800;
    transform: translateZ(0);
}



/*
blue: rgb(25, 148, 248);
cyan: rgb(0, 216, 255);
lime: rgb(149, 221, 2);
pink: rgb(255, 0, 213);
coral: rgb(255, 0, 97);
orange: rgb(255, 136, 0);
red: rgb(221, 35, 2);
*/


.breakout-bonus.L{background: rgb(0, 216, 255);} /*cyan*/
.breakout-bonus.L:before {content: "LAZERS";}

.breakout-bonus.M{ background: rgb(149, 221, 2);}  /*lime*/
.breakout-bonus.M:before { content: "MULTI-B";}

.breakout-bonus.S{ background: rgb(255, 0, 213);}  /*pink*/
.breakout-bonus.S:before { content: "STICKY-P";}

.breakout-bonus.T{ background: rgb(25, 148, 248);}  /*blue */
.breakout-bonus.T:before { content: "THIN-P";}

.breakout-bonus.F{ background: rgb(255, 136, 0);} /*orange*/
.breakout-bonus.F:before { content: "FAT-P";}




/*PADDLES*/

@keyframes blink {
    0% { background: cyan; }
    100% { background: #444; }
}
@-webkit-keyframes blink {
    0% { background: cyan; }
    100% { background: #444; }
}

@keyframes L {
    0% { background: red; }
    100% { background: #444; }
}
@-webkit-keyframes L {
    0% { background: red; }
    100% { background: #444; }
}


@keyframes S {
    0% { background: yellow; }
    100% { background: #444; }
}

@-webkit-keyframes S  {
    0% { background: yellow; }
    100% { background: #444; }
}

#paddle {
    -webkit-animation: blink 0.7s linear infinite;
    -moz-animation: blink 0.7s linear infinite;
    -ms-animation: blink 0.7s linear infinite;
    -o-animation: blink 0.7s linear infinite;
    animation: blink 0.7s linear infinite;
    color: white;
    overflow: hidden;
    width: 150px;
    height: 15px;
    left: 15px;
    bottom: 15px;
    z-index: 1000000;
    display: block;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 8px 10px rgba(0,0,0,.3);
    transform: translateZ(0);
}


#paddle.L {
    -webkit-animation: L 0.5s linear infinite;
    -moz-animation: L 0.5s linear infinite;
    -ms-animation: L 0.5s linear infinite;
    -o-animation: L 0.5s linear infinite;
    animation: L 0.5s linear infinite;
}

#paddle.S{
    -webkit-animation: S 0.5s linear infinite;
    -moz-animation: S 0.5s linear infinite;
    -ms-animation: S 0.5s linear infinite;
    -o-animation: S 0.5s linear infinite;
    animation: S 0.5s linear infinite;
}
